$buttonColor: #1aa3ff;
$buttonTextColor: white;
$borderRadius:2px;
$fabradius:25%;
$btnHeightLg:50px;
$btnHeightNm:35px;
$btnHeightSm:20px;
$border:0px;
$dangerColor:#FF5722;
$succesColor:#43A047;
$primaryColor:#1aa3ff;