$buttonColor: #1aa3ff;
$buttonTextColor: white;
$dangerColor:#FF5722;
$succesColor:#43A047;
$primaryColor:#1aa3ff;
$inputColor:white;
$inputTextColor:black;
$backgroundColor:#F5F5F5;
$backgroundSidebarColor:white;
$borderColor:darken(white,20%);
$containerBackground:white;